<div class="formulario">  
	<div class="alert alert-success" *ngIf="status == 'exitoso'">
    Has actualizado la información correctamente =)
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    No has actualizado tus datos =(
  </div>   
	<form #userEditForm="ngForm" (ngSubmit)="modifica()" class="col-lg-12">
		<div class="panel panel-primary">
      <div class="panel-heading">
        <h3>{{titulo}}</h3>
      </div>
      <div class="panel-body">
        <div class="form-label-group" >
          <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.name" class="form-control" placeholder="Nombre"
          required/>
          <label for="nombre" >Nombre</label>
        </div>
        <div class="form-label-group" >
          <input type="text" name="surname" #surname="ngModel" [(ngModel)]="usuario.surname" class="form-control" placeholder="Apellidos" required/>
          <label for="surname" >Apellidos</label>
        </div>
        <div class="form-label-group" >
          <input type="text" name="correo" #correo="ngModel" [(ngModel)]="usuario.mail" class="form-control" placeholder="Correo electrónico" required/>
          <label for="correo" >Correo electrónico</label>
        </div>
        <div class="form-group">
          <label>Tipo</label>
          <select class="form-control" name="tipo" #tipo="ngModel" [(ngModel)]=usuario.role required  >      
            <option *ngFor="let proceso of procesos">{{proceso}}</option>
          </select>    
        </div>
        <input type="submit" value="Modificar datos" class="btn btn-lg btn-primary btn-block" [disabled]="!userEditForm.form.valid" />
      </div>
		</div>
  </form>       
</div>
<div class="formulario">
  <form #passUpdate="ngForm" (ngSubmit)="mandaCambio(passUpdate)" class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-body">
        <input (click) = "pideCambio()" class="btn btn-lg btn-primary btn-block" value="¿Cambia contraseña?" />
        <p>
          <span *ngIf = cambiaPass>
            <p>
            <p>
              <input type="password" name="password" #passsword="ngModel" [(ngModel)]="pass" class="form-control" placeholder="Contraseña" required />
            </p>
            <p>
              <input type="password" name="password2" #password2="ngModel" [(ngModel)]="pass2" class="form-control" placeholder="Confirma Contraseña" required />
            </p>
            <div class="alert alert-danger" *ngIf=validaPass>
              {{mensaje}}
            </div>
            <input type="submit" (click) = "mandaCambio(passUpdate)" class="btn btn-lg btn-primary btn-block" value="Modifica contraseña" />
          </span>
        </p>
      </div>
    </div>
  </form>
</div>